@import "tailwindcss";

@layer base {

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  :root {
    @apply text-gray-900 bg-gray-50 font-sans;
    font-size: 16px;
  }

  /* Prevent text selection during drag and drop */
  .dragging * {
    user-select: none !important;
  }
}

@layer utilities {
  .no-select {
    user-select: none;
    -webkit-user-select: none;
  }
}